.header__link {
  color: aliceblue;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.8;
  transition: all .2s ease-in-out;
  text-decoration: underline;
}

@media screen and (max-width: 568px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}