.cover {
  margin: 0 auto;
  width: calc(100% - 2*48px);
  max-width: 1184px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1140px) {
  .cover {
    width: 100%;
    margin: 0;
  }
}