.place__link {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__link:hover {
  opacity: 0.8;
  transition: all .2s ease-in-out;
}