.footer__row {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 568px) {
  .footer__row {
    flex-direction: column;
    align-items: flex-start;
  }
}