.cover__background {
  min-height: 740px;
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.cover__background:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/cover-trains.jpg);
}

@media screen and (max-width: 1140px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .cover__background {
    min-height: 200px;
  }
}